.navbar-nav .nav-link {
    background-color: rgba(140, 255, 127, 0.428) !important;
    color: rgba(0, 0, 0, 0.88) !important;
}

.navbar-nav .nav-link:hover {
    background-color: yellow !important;
    color: rgba(0, 0, 0, 0.658) !important;
}

body {
    font-family: 'Comic Sans MS', cursive;
    color: rgba(0, 0, 0, 0.829) !important;
    background-color: rgba(133, 255, 127, 0.144) !important;
}

#blogtitle {
    font-size: 6rem;

}

#blogtitle:hover {
    color: rgba(183, 0, 255, 0.709); /* Change the color to the desired hovering color */
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }

    #blogdetailtitle:hover {
        color: rgba(191, 255, 0, 0.277); /* Change the color to the desired hovering color */
    }
    
}